:root {
  --font-size-xlarge: 28px;
  --font-size-large: 25px;
  --font-size-medium: 20px;
  --font-size-small: 16px;
  --font-size-xsmall: 12px;

  --space-xxxlarge: 40px;
  --space-xxlarge2: 32px;
  --space-xxlarge: 28px;
  --space-xlarge: 25px;
  --space-large: 20px;
  --space-medium: 16px;
  --space-small: 12px;
}

.linkk {
  text-decoration: none;
  color: black;
}

.navv {
  position: fixed;
  top: 70px;
  left: 0;
  /* padding: var(--font-size-large); */
  /* border: 2px solid blue; */
  width: 230px;
  height: 100vh;
  overflow: hidden;
}
.navv:hover {
  overflow-y: scroll;
}
.navv::-webkit-scrollbar {
  width: 7px;
  /* background-color: blue; */
}
.navv::-webkit-scrollbar-thumb {
  background-color: rgb(166, 184, 180);
}
.navv::-webkit-scrollbar-track {
  background-color: white;
}
.nav_section {
  padding: var(--space-small) 0;
  border-bottom: 1px solid skyblue;
}

.each_menu_container {
  display: flex;
  align-items: center;
  height: var(--space-xxxlarge);
  padding: 0 var(--space-xlarge);
  /* text-decoration: none; */
}
.each_menu_container:hover {
  cursor: pointer;
  background-color: beige;
}

.each_menu_img {
  font-size: var(--font-size-medium);
  margin-right: var(--space-xlarge);
}

.each_menu_text {
  font-size: var(--font-size-small);
}
.login_section {
  padding: var(--space-medium) var(--space-xlarge);
}
.login_article {
  width: 180px;
  border: 1px sol blue;
  font-size: 14px;
  margin-bottom: 15px;
}
