.section {
  display: flex;
  flex-direction: row;
}

.Home {
  display: flex;
  flex-direction: column;
}

.Home .container {
  display: flex;
}

.Home .leftNav {
  position: sticky;
  background-color: teal;
}

.Home .article {
  background-color: rgb(246, 250, 248);
  height: 100vh;
  margin-left: 230px;
  width: 87%;
}
